body{
    margin: 10px;
}

h1{
    margin: 30px 0px;
    padding: 15px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: #FFF;
    background-color: #281B2D;
}

.subheading{
    margin: 20px 0px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #FCD801 ;
    background-color: #281B2D;
    border-bottom: 8px solid #00C54C;

}